In [1]:
# Data manipulation
import numpy as np
import pandas as pd
from math import *
import seaborn as sns
import networkx as nx
import os
#import folium

# Visualization.
import matplotlib.pyplot as plt

# Saving models
from datetime import datetime
import joblib

# Display all columns
pd.set_option('display.max_columns', 150,
             'display.max_rows', 150)

# ML
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV, StratifiedKFold, RepeatedKFold, train_test_split, cross_validate, cross_val_score 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import r2_score, explained_variance_score, mean_squared_error, median_absolute_error
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn import ensemble

import requests, json
from sqlalchemy import create_engine

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter


%autosave 60
import cython

Autosaving every 60 seconds

#### Data organized
    Initialily to organize the data I rewrote the order_products grouping by order_id. Thus, the full data after
    the manipulation will be organized by the order_id as variable key.

#### Load helper functions

In [2]:
%run ./functions.ipynb

### Read the data
   * Dataset order_products

In [3]:
path0 = os.getcwd()

In [4]:
order_products = pd.read_csv(os.path.join(path0, "order_products.csv"))

In [5]:
order_products.isnull().sum()

order_id      0
product_id    0
quantity      0
buy_unit      0
dtype: int64

In [6]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198500 entries, 0 to 198499
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   order_id    198500 non-null  object
 1   product_id  198500 non-null  object
 2   quantity    198500 non-null  float64
 3   buy_unit    198500 non-null  object
dtypes: float64(1), object(3)
memory usage: 6.1+ MB

#### Create new variables to order_products dataset
   Here I use the **order_products_var** function to create new variables:
   * quantity_UN: Quantity of products in units.
   * quantity_KG: Quantity of products in KG.
   
After create these variables I agroup the dataset by order_id and create a other new variables:
   * UN_plus_KG: Quantity of units plus Quantity of KG
   * UN_mult_KG: Quantity of units times Quantity of KG

In [7]:
order_products = order_products_var(order_products)

In [8]:
order_products.head()

,order_id,quantity_UN,quantity_KG,is_more_UN,UN_plus_KG,UN_mult_KG
0,0004a3841c1eeb6c6e77585a941c21e0,8.0,0.000,1.0,8.000,0.000
1,0005a6ecbbde1e8d273f5577bcff2c9c,2.0,0.000,1.0,2.000,0.000
2,0007baeb6700fc203be2d1f1e11222d7,39.0,0.000,1.0,39.000,0.000
3,0012195a6a8ca9ec308a3010eeea8ebc,13.0,0.000,1.0,13.000,0.000
4,0013011fa72b498b9feb84f4e7104980,63.0,1.636,1.0,64.636,103.068

In [9]:
order_products.isnull().sum()

order_id       0
quantity_UN    0
quantity_KG    0
is_more_UN     0
UN_plus_KG     0
UN_mult_KG     0
dtype: int64

* Dataset orders

In [10]:
orders = pd.read_csv(os.path.join(path0, "orders.csv"))

    Here I rename the lat and long variables to indentify the end of the path

In [11]:
orders = orders.rename({'lat': 'lat_destination', 'lng': 'lng_destination'}, axis=1)

In [12]:
orders.isnull().sum()

order_id              0
lat_destination       0
lng_destination       0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes      2000
dtype: int64

In [13]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         10000 non-null  object
 1   lat_destination  10000 non-null  float64
 2   lng_destination  10000 non-null  float64
 3   promised_time    10000 non-null  object
 4   on_demand        10000 non-null  bool
 5   shopper_id       10000 non-null  object
 6   store_branch_id  10000 non-null  object
 7   total_minutes    8000 non-null   float64
dtypes: bool(1), float64(3), object(4)
memory usage: 556.8+ KB

In [14]:
orders.head(3)

,order_id,lat_destination,lng_destination,promised_time,on_demand,shopper_id,store_branch_id,total_minutes
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264
1,6581174846221cb6c467348e87f57641,-33.440584,-70.556283,2019-10-19 01:00:00+00:00,False,195f9e9d84a4ba9033c4b6a756334d8b,45fbc6d3e05ebd93369ce542e8f2322d,57.060632
2,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN

#### Join the datasets (orders and order_products)

In [15]:
full = pd.merge(orders, order_products, how='inner', on='order_id')

In [16]:
full.isnull().sum()

order_id              0
lat_destination       0
lng_destination       0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes      1995
quantity_UN           0
quantity_KG           0
is_more_UN            0
UN_plus_KG            0
UN_mult_KG            0
dtype: int64

   * Dataset shoppers

In [17]:
shoppers = pd.read_csv(os.path.join(path0, "shoppers.csv"))

In [18]:
shoppers.isnull().sum()

shopper_id         0
seniority          0
found_rate       101
picking_speed      0
accepted_rate     27
rating            84
dtype: int64

#### Treatment of missing in shoppers dataset
   The found_rate, accepted_rate and rating variables have missing. To treat this I filter the dataframe taking just qhere found_rate is null then I find the values to picking_speed in the new dataframe. With these values I create a new dataframe making a filter in original dataframe using the picking_speed values founded, **found_rate2** dataframe. After that I fill the found_rate missing using the mode of **found_rate2** dataframe.
   
   The missing value of accepted_rate and rating variabel were filled using the mode of column in original dataset.

In [19]:
shoppers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2864 entries, 0 to 2863
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shopper_id     2864 non-null   object
 1   seniority      2864 non-null   object
 2   found_rate     2763 non-null   float64
 3   picking_speed  2864 non-null   float64
 4   accepted_rate  2837 non-null   float64
 5   rating         2780 non-null   float64
dtypes: float64(4), object(2)
memory usage: 134.4+ KB

In [20]:
found_rate = shoppers[shoppers.found_rate.isnull()]

In [21]:
found_rate.head()

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
3,db39866e62b95bb04ebb1e470f2d1347,50e13ee63f086c2fe84229348bc91b5b,NaN,2.41,NaN,NaN
41,3037b3b45878cc009165ab18046545e2,bb29b8d0d196b5db5a5350e5e3ae2b1f,NaN,2.19,1.0,NaN
48,767014694eecb27868fcab3e18bbeb2d,bb29b8d0d196b5db5a5350e5e3ae2b1f,NaN,2.19,0.8,NaN
50,43ad600bfd3b16b220d90a1f6e25681e,bb29b8d0d196b5db5a5350e5e3ae2b1f,NaN,2.19,NaN,NaN
83,32cee31f8f74a1573a8e07fc90d456b9,50e13ee63f086c2fe84229348bc91b5b,NaN,2.19,0.8,NaN

In [22]:
found_rate.picking_speed.unique()

array([2.41, 2.19, 2.33])

In [23]:
found_rate2 = shoppers[(shoppers.picking_speed == 2.41) | (shoppers.picking_speed == 2.19) | (shoppers.picking_speed == 2.33)]

In [24]:
shoppers.loc[shoppers['found_rate'].isnull(), 'found_rate'] = found_rate2['found_rate'].mode().iat[0]

In [25]:
shoppers.loc[shoppers['accepted_rate'].isnull(), 'accepted_rate'] = shoppers['accepted_rate'].mode().iat[0]
shoppers.loc[shoppers['rating'].isnull(), 'rating'] = shoppers['rating'].mode().iat[0]

In [26]:
shoppers.isnull().sum()

shopper_id       0
seniority        0
found_rate       0
picking_speed    0
accepted_rate    0
rating           0
dtype: int64

#### Join the datasets (full and shoppers)

In [27]:
full = pd.merge(full, shoppers, how='left', on='shopper_id')

In [28]:
full.isnull().sum()

order_id              0
lat_destination       0
lng_destination       0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes      1995
quantity_UN           0
quantity_KG           0
is_more_UN            0
UN_plus_KG            0
UN_mult_KG            0
seniority             0
found_rate            0
picking_speed         0
accepted_rate         0
rating                0
dtype: int64

   * Dataset storebranch

In [29]:
storebranch = pd.read_csv(os.path.join(path0, "storebranch.csv"))

    Here I rename the lat and long variables to indentify the beginning of the path

In [30]:
storebranch = storebranch.rename({'lat': 'lat_origin', 'lng': 'lng_origin'}, axis=1)

In [31]:
storebranch.isnull().sum()

store_branch_id    0
store_id           0
lat_origin         0
lng_origin         0
dtype: int64

In [32]:
storebranch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_branch_id  476 non-null    object
 1   store_id         476 non-null    object
 2   lat_origin       476 non-null    float64
 3   lng_origin       476 non-null    float64
dtypes: float64(2), object(2)
memory usage: 15.0+ KB

In [33]:
storebranch.head(3)

,store_branch_id,store_id,lat_origin,lng_origin
0,aff1621254f7c1be92f64550478c56e6,92cc227532d17e56e07902b254dfad10,-33.422497,-70.609231
1,56352739f59643540a3a6e16985f62c7,0336dcbab05b9d5ad24f4333c7658a0e,-33.385484,-70.555579
2,7d04bbbe5494ae9d2f5a76aa1c00fa2f,9bf31c7ff062936a96d3c8bd1f8f2ff3,-33.416579,-70.565224

#### Join the datasets (full and storebranch)

In [34]:
full = pd.merge(full, storebranch, how='left', on='store_branch_id')

In [35]:
full.isnull().sum()

order_id              0
lat_destination       0
lng_destination       0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes      1995
quantity_UN           0
quantity_KG           0
is_more_UN            0
UN_plus_KG            0
UN_mult_KG            0
seniority             0
found_rate            0
picking_speed         0
accepted_rate         0
rating                0
store_id              0
lat_origin            0
lng_origin            0
dtype: int64

In [36]:
full = time_sep(full, col = 'promised_time')

In [37]:
full.columns

Index(['order_id', 'lat_destination', 'lng_destination', 'promised_time',
       'on_demand', 'shopper_id', 'store_branch_id', 'total_minutes',
       'quantity_UN', 'quantity_KG', 'is_more_UN', 'UN_plus_KG', 'UN_mult_KG',
       'seniority', 'found_rate', 'picking_speed', 'accepted_rate', 'rating',
       'store_id', 'lat_origin', 'lng_origin', 'Hour', 'Month', 'Day_of_Week',
       'Year', 'Date', 'period'],
      dtype='object')

#### Distance between origin and destiny and car path
The datasets offered have lat and long to origin and destiny points. Using these information I calculate the Haversine distance:
   * The Haversine calculator computes the distance between two points on a spherical model of the Earth along a great circle arc.
   
I calculate too the path by car between the coordenates using the project-osrm project API.

The Open Source Routing Machine or OSRM is a C++ implementation of a high-performance routing engine for shortest paths in road networks. Licensed under the permissive 2-clause BSD license, OSRM is a free network service.

It combines sophisticated routing algorithms with the open and free road network data of the OpenStreetMap (OSM) project. Shortest path computation on a continental sized network can take up to several seconds if it is done without a so-called speedup-technique. OSRM uses an implementation of contraction hierarchies and is able to compute and output a shortest path between any origin and destination within a few milliseconds, whereby the pure route computation takes much less time. Most effort is spent in annotating the route and transmitting the geometry over the network.

   * **distance**: The distance traveled by the route, in float meters.
   * **duration**: The estimated travel time, in float number of seconds.
   * **weight**: The calculated weight of the route.

In [38]:
full['distance_haversine'] = distance(full.lat_origin, full.lng_origin, full.lat_destination, full.lng_destination)

In [ ]:
full[['lng_origin', 'lat_origin', 'lng_destination', 'lat_destination']].head(3)

In [ ]:
%%time
full['distance_car'], full['weight_car'], full['duration'] = path(full, 'lng_origin', 'lat_origin', 'lng_destination', 'lat_destination')

In [ ]:
full.to_csv(os.path.join(path0, "full_distance.csv"))

In [ ]:
full['city_origin'], full['state_origin'], full['county_origin'], full['neighbourhood_origin'] = location(full, 'lat_origin', 'lng_origin')

In [ ]:
full.to_csv(os.path.join(path0, "full_origin.csv"))

In [ ]:
full['city_destiny'], full['state_destiny'], full['county_destiny'], full['neighbourhood_destiny'] = location(full, 'lat_destination', 'lng_destination')

In [ ]:
full.to_csv(os.path.join(path0, "full_destiny.csv"))

In [ ]:
full.loc[full['city_origin'] == full['city_destiny'], 'same_city'] = 1 
full.loc[full['city_origin'] != full['city_destiny'], 'same_city'] = 0

full.loc[full['state_origin'] == full['state_destiny'], 'same_state'] = 1 
full.loc[full['state_origin'] != full['state_destiny'], 'same_state'] = 0

full.loc[full['county_origin'] == full['county_destiny'], 'same_county'] = 1 
full.loc[full['county_origin'] != full['county_destiny'], 'same_county'] = 0

full.loc[full['neighbourhood_origin'] == full['neighbourhood_destiny'], 'same_neighbourhood'] = 1 
full.loc[full['neighbourhood_origin'] != full['neighbourhood_destiny'], 'same_neighbourhood'] = 0

In [ ]:
full.loc[full['city_origin'].isnull(), 'city_origin'] = 'undefined'
full.loc[full['city_destiny'].isnull(), 'city_destiny'] = 'undefined'

In [ ]:
full['path_city'] = full['city_origin'] + '_X_' + full['city_destiny']
full['path_state'] = full['state_origin'] + '_X_' + full['state_destiny']
full['path_county'] = full['county_origin'] + '_X_' + full['county_destiny']

In [ ]:
shop = full.groupby('store_id').aggregate(
                            {'shopper_id': 'count'
                            }).reset_index()
shop = shop.rename({'shopper_id': 'shoppers_number'}, axis=1)  

full2 = pd.merge(full, shop, how='left', on='store_id')

In [ ]:
branch = full2.groupby('store_id').aggregate(
                            {'store_branch_id': 'count'
                            }).reset_index()
branch = branch.rename({'store_branch_id': 'store_branch_number'}, axis=1)  

full2 = pd.merge(full2, branch, how='left', on='store_id')

In [ ]:
full2.isnull().sum()

In [ ]:
full2.to_csv(os.path.join(path0, "full_new.csv"))

In [ ]:
#fim