In [1]:
# Data manipulation
import numpy as np
import pandas as pd


# Visualization.
import matplotlib.pyplot as plt

# Saving models
from datetime import datetime
import joblib

# Display all columns
pd.set_option('display.max_columns', 150,
             'display.max_rows', 150)

### Read the data
   * Dataset order_products

In [2]:
order_products = pd.read_csv("/Users/aurelianosancho/Documents/GitHub/teste_cornershop/order_products.csv")

In [3]:
order_products.isnull().sum()

order_id      0
product_id    0
quantity      0
buy_unit      0
dtype: int64

In [4]:
order_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198500 entries, 0 to 198499
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   order_id    198500 non-null  object
 1   product_id  198500 non-null  object
 2   quantity    198500 non-null  float64
 3   buy_unit    198500 non-null  object
dtypes: float64(1), object(3)
memory usage: 6.1+ MB

In [5]:
order_products.head(3)

,order_id,product_id,quantity,buy_unit
0,47099653730fb1b76537fc10ad876255,c1244453d731c77416cb4766e3bd76cb,1.0,UN
1,689d8866915acf87e851c2591a23a82f,43cc2b100bec640fe563cd16f2db669f,1.0,KG
2,f26d16bf6f38c9e31d0be877f4013a9e,b8f880759d014134e272d881d49989a2,1.0,UN

* Dataset orders

In [6]:
orders = pd.read_csv("/Users/aurelianosancho/Documents/GitHub/teste_cornershop/orders.csv")

In [7]:
orders.isnull().sum()

order_id              0
lat                   0
lng                   0
promised_time         0
on_demand             0
shopper_id            0
store_branch_id       0
total_minutes      2000
dtype: int64

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         10000 non-null  object
 1   lat              10000 non-null  float64
 2   lng              10000 non-null  float64
 3   promised_time    10000 non-null  object
 4   on_demand        10000 non-null  bool
 5   shopper_id       10000 non-null  object
 6   store_branch_id  10000 non-null  object
 7   total_minutes    8000 non-null   float64
dtypes: bool(1), float64(3), object(4)
memory usage: 556.8+ KB

In [9]:
orders.head(3)

,order_id,lat,lng,promised_time,on_demand,shopper_id,store_branch_id,total_minutes
0,e750294655c2c7c34d83cc3181c09de4,-33.501675,-70.579369,2019-10-18 20:48:00+00:00,True,e63bc83a1a952fa2b3cc9d558fb943cf,65ded5353c5ee48d0b7d48c591b8f430,67.684264
1,6581174846221cb6c467348e87f57641,-33.440584,-70.556283,2019-10-19 01:00:00+00:00,False,195f9e9d84a4ba9033c4b6a756334d8b,45fbc6d3e05ebd93369ce542e8f2322d,57.060632
2,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN

   * Dataset shoppers

In [10]:
shoppers = pd.read_csv("/Users/aurelianosancho/Documents/GitHub/teste_cornershop/shoppers.csv")

In [11]:
shoppers.isnull().sum()

shopper_id         0
seniority          0
found_rate       101
picking_speed      0
accepted_rate     27
rating            84
dtype: int64

In [12]:
shoppers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2864 entries, 0 to 2863
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shopper_id     2864 non-null   object
 1   seniority      2864 non-null   object
 2   found_rate     2763 non-null   float64
 3   picking_speed  2864 non-null   float64
 4   accepted_rate  2837 non-null   float64
 5   rating         2780 non-null   float64
dtypes: float64(4), object(2)
memory usage: 134.4+ KB

In [13]:
shoppers.head(3)

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
0,1fc20b0bdf697ac13dd6a15cbd2fe60a,41dc7c9e385c4d2b6c1f7836973951bf,0.8606,1.94,1.00,4.87
1,e1c679ac73a69c01981fdd3c5ab8beda,6c90661e6d2c7579f5ce337c3391dbb9,0.8446,1.23,0.92,4.92
2,09d369c66ca86ebeffacb133410c5ee1,6c90661e6d2c7579f5ce337c3391dbb9,0.8559,1.56,1.00,4.88

   * Dataset storebranch

In [14]:
storebranch = pd.read_csv("/Users/aurelianosancho/Documents/GitHub/teste_cornershop/storebranch.csv")

In [15]:
storebranch.isnull().sum()

store_branch_id    0
store_id           0
lat                0
lng                0
dtype: int64

In [16]:
storebranch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_branch_id  476 non-null    object
 1   store_id         476 non-null    object
 2   lat              476 non-null    float64
 3   lng              476 non-null    float64
dtypes: float64(2), object(2)
memory usage: 15.0+ KB

In [17]:
storebranch.head(3)

,store_branch_id,store_id,lat,lng
0,aff1621254f7c1be92f64550478c56e6,92cc227532d17e56e07902b254dfad10,-33.422497,-70.609231
1,56352739f59643540a3a6e16985f62c7,0336dcbab05b9d5ad24f4333c7658a0e,-33.385484,-70.555579
2,7d04bbbe5494ae9d2f5a76aa1c00fa2f,9bf31c7ff062936a96d3c8bd1f8f2ff3,-33.416579,-70.565224

### Join tha datasets

In [18]:
full = pd.merge(orders, order_products, how='left', on='order_id')
full = pd.merge(full, shoppers, how='left', on='shopper_id')
full = pd.merge(full, storebranch, how='left', on='store_branch_id')

In [19]:
len(full)

198522

In [20]:
full.isnull().sum()

order_id               0
lat_x                  0
lng_x                  0
promised_time          0
on_demand              0
shopper_id             0
store_branch_id        0
total_minutes      40197
product_id            22
quantity              22
buy_unit              22
seniority              0
found_rate          2181
picking_speed          0
accepted_rate        602
rating              2021
store_id               0
lat_y                  0
lng_y                  0
dtype: int64

In [22]:
full.columns

Index(['order_id', 'lat_x', 'lng_x', 'promised_time', 'on_demand',
       'shopper_id', 'store_branch_id', 'total_minutes', 'product_id',
       'quantity', 'buy_unit', 'seniority', 'found_rate', 'picking_speed',
       'accepted_rate', 'rating', 'store_id', 'lat_y', 'lng_y'],
      dtype='object')

In [24]:
full[['order_id', 'lat_x', 'lng_x', 'promised_time', 'on_demand',
       'shopper_id', 'store_branch_id', 'total_minutes', 'product_id',
       'quantity', 'buy_unit', 'seniority', 'found_rate', 'picking_speed',
       'accepted_rate', 'rating', 'store_id']][full.total_minutes.isnull()]

,order_id,lat_x,lng_x,promised_time,on_demand,shopper_id,store_branch_id,total_minutes,product_id,quantity,buy_unit,seniority,found_rate,picking_speed,accepted_rate,rating,store_id
24,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,d2a7c010a3c78a3199cd79623a4be51e,5.0,UN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b
25,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,6d416af51a52cc688f4898eb199d49bc,5.0,UN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b
26,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,81cc6dc9a2924e1657015db4bfb2f340,1.0,UN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b
27,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,d0fd09285ad305f0513c784e1774f05c,2.0,UN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b
28,3a226ea48debc0a7ae9950d5540f2f34,-32.987022,-71.544842,2019-10-19 14:54:00+00:00,True,a5b9ddc0d82e61582fca19ad43dbaacb,07563a3fe3bbe7e3ba84431ad9d055af,NaN,e89201074287fe0f9d85b00a48361762,5.0,UN,50e13ee63f086c2fe84229348bc91b5b,0.8313,2.57,0.76,4.92,c4ca4238a0b923820dcc509a6f75849b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198353,b8a1cc826cc9a7190a79e45d41a0a7e2,-33.504379,-70.663026,2019-10-19 19:00:00+00:00,False,fab3dd62cf0a2047ee28023a9b0c99ef,2b24d495052a8ce66358eb576b8912c8,NaN,bbdcc2f622da50305253f13c7c9f27ac,2.0,UN,6c90661e6d2c7579f5ce337c3391dbb9,0.8594,1.38,0.96,4.80,c4ca4238a0b923820dcc509a6f75849b
198354,b8a1cc826cc9a7190a79e45d41a0a7e2,-33.504379,-70.663026,2019-10-19 19:00:00+00:00,False,fab3dd62cf0a2047ee28023a9b0c99ef,2b24d495052a8ce66358eb576b8912c8,NaN,d038566383839dc56c44f865cc70d0ee,1.0,UN,6c90661e6d2c7579f5ce337c3391dbb9,0.8594,1.38,0.96,4.80,c4ca4238a0b923820dcc509a6f75849b
198355,b8a1cc826cc9a7190a79e45d41a0a7e2,-33.504379,-70.663026,2019-10-19 19:00:00+00:00,False,fab3dd62cf0a2047ee28023a9b0c99ef,2b24d495052a8ce66358eb576b8912c8,NaN,6b7033651e48a9fbf437e816cc229770,1.0,UN,6c90661e6d2c7579f5ce337c3391dbb9,0.8594,1.38,0.96,4.80,c4ca4238a0b923820dcc509a6f75849b
198356,b8a1cc826cc9a7190a79e45d41a0a7e2,-33.504379,-70.663026,2019-10-19 19:00:00+00:00,False,fab3dd62cf0a2047ee28023a9b0c99ef,2b24d495052a8ce66358eb576b8912c8,NaN,7ba5ec0bb63d8fedce74213beea905b5,2.0,UN,6c90661e6d2c7579f5ce337c3391dbb9,0.8594,1.38,0.96,4.80,c4ca4238a0b923820dcc509a6f75849b
198373,f1d910271fe4182d87bdea049b7749c4,-33.440763,-70.603306,2019-10-19 14:00:00+00:00,False,07b121dbae684d1b2b824a3320872874,b5a1d925221b37e2e399f7b319038ba0,NaN,745d9f7d187df629a455287dbd7daad6,1.0,UN,6c90661e6d2c7579f5ce337c3391dbb9,0.8787,1.19,0.88,4.92,160c88652d47d0be60bfbfed25111412