In [1]:
# Data manipulation
import numpy as np
import pandas as pd
from math import *
import seaborn as sns
import networkx as nx
import os
#import osmnx as ox
#import folium

# Visualization.
import matplotlib.pyplot as plt

# Saving models
from datetime import datetime
import joblib

# Display all columns
pd.set_option('display.max_columns', 150,
             'display.max_rows', 150)

# ML
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV, StratifiedKFold, RepeatedKFold, train_test_split, cross_validate, cross_val_score 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import r2_score, explained_variance_score, mean_squared_error, median_absolute_error
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn import ensemble

import requests, json
from sqlalchemy import create_engine

In [2]:
path0 = os.getcwd()

In [3]:
full = pd.read_csv(os.path.join(path0, "full_distance.csv"))

In [4]:
full.columns

Index(['Unnamed: 0', 'order_id', 'lat_destination', 'lng_destination',
       'promised_time', 'on_demand', 'shopper_id', 'store_branch_id',
       'total_minutes', 'quantity_UN', 'quantity_KG', 'is_more_UN',
       'UN_plus_KG', 'UN_mult_KG', 'seniority', 'found_rate', 'picking_speed',
       'accepted_rate', 'rating', 'store_id', 'lat_origin', 'lng_origin',
       'Hour', 'Month', 'Day_of_Week', 'Year', 'Date', 'period',
       'distance_havesine', 'distance_car', 'weight_car', 'duration'],
      dtype='object')

In [5]:
var_cat = ['on_demand', 'seniority', 'Hour', 'Day_of_Week', 'period']
var_num = ['quantity_UN', 'quantity_KG', 'UN_plus_KG', 'UN_mult_KG',
           'distance_havesine',
           'found_rate', 'picking_speed','accepted_rate', 'rating',
           'distance_car', 
           'weight_car', 
           'duration'
          ]

In [6]:
full = pd.get_dummies(full, columns = var_cat)

In [7]:
cdrop = ['order_id', 'shopper_id', 'store_branch_id', 'store_id',
         'Month', 'Year', 'Date']

In [8]:
full = full.drop(cdrop, axis = 1)

In [9]:
var = ['total_minutes', 'quantity_UN',
       'quantity_KG', 'is_more_UN', 'UN_plus_KG', 'UN_mult_KG', 'found_rate',
       'picking_speed', 'accepted_rate', 'rating',
       'distance_havesine', 
       'on_demand_False', 'on_demand_True',
       'seniority_41dc7c9e385c4d2b6c1f7836973951bf',
       'seniority_50e13ee63f086c2fe84229348bc91b5b',
       'seniority_6c90661e6d2c7579f5ce337c3391dbb9',
       'seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f', 'Hour_0', 'Hour_1',
       'Hour_2', 'Hour_3', 'Hour_11', 'Hour_12', 'Hour_13', 'Hour_14',
       'Hour_15', 'Hour_16', 'Hour_17', 'Hour_18', 'Hour_19', 'Hour_20',
       'Hour_21', 'Hour_22', 'Hour_23', 'Day_of_Week_4', 'Day_of_Week_5',
       'Day_of_Week_6', 'period_afternoon', 'period_dawn', 'period_morning',
       'period_night',
       'distance_car', 
       'weight_car', 
       'duration',
       #'same_city', 'same_state', 'same_county', 'same_neighbourhood'
      ]

full = full[var]

### Out of Sample

In [10]:
ofs = full[full.total_minutes.isnull()]

In [11]:
ofs.head(3)

,total_minutes,quantity_UN,quantity_KG,is_more_UN,UN_plus_KG,UN_mult_KG,found_rate,picking_speed,accepted_rate,rating,distance_havesine,on_demand_False,on_demand_True,seniority_41dc7c9e385c4d2b6c1f7836973951bf,seniority_50e13ee63f086c2fe84229348bc91b5b,seniority_6c90661e6d2c7579f5ce337c3391dbb9,seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f,Hour_0,Hour_1,Hour_2,Hour_3,Hour_11,Hour_12,Hour_13,Hour_14,Hour_15,Hour_16,Hour_17,Hour_18,Hour_19,Hour_20,Hour_21,Hour_22,Hour_23,Day_of_Week_4,Day_of_Week_5,Day_of_Week_6,period_afternoon,period_dawn,period_morning,period_night,distance_car,weight_car,duration
2,NaN,18.0,0.000,1.0,18.000,0.000,0.8313,2.57,0.76,4.92,2.358128,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,2930.5,298.2,298.2
5,NaN,15.0,0.000,1.0,15.000,0.000,0.8946,1.82,1.00,4.84,4.190793,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,5786.8,3855.6,576.4
9,NaN,94.0,2.852,1.0,96.852,268.088,0.9363,1.67,1.00,4.84,2.512359,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,3141.8,249.5,249.5

In [12]:
ofs.isnull().sum()

total_minutes                                 1995
quantity_UN                                      0
quantity_KG                                      0
is_more_UN                                       0
UN_plus_KG                                       0
UN_mult_KG                                       0
found_rate                                       0
picking_speed                                    0
accepted_rate                                    0
rating                                           0
distance_havesine                                0
on_demand_False                                  0
on_demand_True                                   0
seniority_41dc7c9e385c4d2b6c1f7836973951bf       0
seniority_50e13ee63f086c2fe84229348bc91b5b       0
seniority_6c90661e6d2c7579f5ce337c3391dbb9       0
seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f       0
Hour_0                                           0
Hour_1                                           0
Hour_2                                           0
Hour_3                                           0
Hour_11                                          0
Hour_12                                          0
Hour_13                                          0
Hour_14                                          0
Hour_15                                          0
Hour_16                                          0
Hour_17                                          0
Hour_18                                          0
Hour_19                                          0
Hour_20                                          0
Hour_21                                          0
Hour_22                                          0
Hour_23                                          0
Day_of_Week_4                                    0
Day_of_Week_5                                    0
Day_of_Week_6                                    0
period_afternoon                                 0
period_dawn                                      0
period_morning                                   0
period_night                                     0
distance_car                                     0
weight_car                                       0
duration                                         0
dtype: int64

### Modeling data

In [13]:
modeling = full[~full.total_minutes.isnull()]

In [14]:
modeling.head(3)

,total_minutes,quantity_UN,quantity_KG,is_more_UN,UN_plus_KG,UN_mult_KG,found_rate,picking_speed,accepted_rate,rating,distance_havesine,on_demand_False,on_demand_True,seniority_41dc7c9e385c4d2b6c1f7836973951bf,seniority_50e13ee63f086c2fe84229348bc91b5b,seniority_6c90661e6d2c7579f5ce337c3391dbb9,seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f,Hour_0,Hour_1,Hour_2,Hour_3,Hour_11,Hour_12,Hour_13,Hour_14,Hour_15,Hour_16,Hour_17,Hour_18,Hour_19,Hour_20,Hour_21,Hour_22,Hour_23,Day_of_Week_4,Day_of_Week_5,Day_of_Week_6,period_afternoon,period_dawn,period_morning,period_night,distance_car,weight_car,duration
0,67.684264,16.0,2.756,1.0,18.756,44.096,0.9024,1.30,0.92,4.76,1.823597,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,3367.1,380.8,380.8
1,57.060632,11.0,0.000,1.0,11.000,0.000,0.7610,2.54,0.92,4.96,1.935026,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,2373.9,229.1,229.1
3,52.067742,1.0,0.000,1.0,1.000,0.000,0.8776,2.80,0.96,4.76,3.820244,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,5632.1,3826.0,549.3

In [15]:
modeling.isnull().sum()

total_minutes                                 0
quantity_UN                                   0
quantity_KG                                   0
is_more_UN                                    0
UN_plus_KG                                    0
UN_mult_KG                                    0
found_rate                                    0
picking_speed                                 0
accepted_rate                                 0
rating                                        0
distance_havesine                             0
on_demand_False                               0
on_demand_True                                0
seniority_41dc7c9e385c4d2b6c1f7836973951bf    0
seniority_50e13ee63f086c2fe84229348bc91b5b    0
seniority_6c90661e6d2c7579f5ce337c3391dbb9    0
seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f    0
Hour_0                                        0
Hour_1                                        0
Hour_2                                        0
Hour_3                                        0
Hour_11                                       0
Hour_12                                       0
Hour_13                                       0
Hour_14                                       0
Hour_15                                       0
Hour_16                                       0
Hour_17                                       0
Hour_18                                       0
Hour_19                                       0
Hour_20                                       0
Hour_21                                       0
Hour_22                                       0
Hour_23                                       0
Day_of_Week_4                                 0
Day_of_Week_5                                 0
Day_of_Week_6                                 0
period_afternoon                              0
period_dawn                                   0
period_morning                                0
period_night                                  0
distance_car                                  0
weight_car                                    0
duration                                      0
dtype: int64

In [16]:
# Getting the data:
X = modeling.drop(['total_minutes'], axis = 1)

y = modeling['total_minutes']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 451, test_size= .25)

In [18]:
StdSca = StandardScaler() ## or standerscaler 
X_train[var_num] = pd.DataFrame(StdSca.fit_transform(X_train[var_num]), columns = var_num, index = X_train.index)
X_test[var_num] = pd.DataFrame(StdSca.transform(X_test[var_num]), columns = var_num, index = X_test.index)

C:\Users\aureliano.paiva_tc\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\aureliano.paiva_tc\anaconda3\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [19]:
ofs[var_num] = StdSca.transform(ofs[var_num])

C:\Users\aureliano.paiva_tc\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [20]:
X_train.columns

Index(['quantity_UN', 'quantity_KG', 'is_more_UN', 'UN_plus_KG', 'UN_mult_KG',
       'found_rate', 'picking_speed', 'accepted_rate', 'rating',
       'distance_havesine', 'on_demand_False', 'on_demand_True',
       'seniority_41dc7c9e385c4d2b6c1f7836973951bf',
       'seniority_50e13ee63f086c2fe84229348bc91b5b',
       'seniority_6c90661e6d2c7579f5ce337c3391dbb9',
       'seniority_bb29b8d0d196b5db5a5350e5e3ae2b1f', 'Hour_0', 'Hour_1',
       'Hour_2', 'Hour_3', 'Hour_11', 'Hour_12', 'Hour_13', 'Hour_14',
       'Hour_15', 'Hour_16', 'Hour_17', 'Hour_18', 'Hour_19', 'Hour_20',
       'Hour_21', 'Hour_22', 'Hour_23', 'Day_of_Week_4', 'Day_of_Week_5',
       'Day_of_Week_6', 'period_afternoon', 'period_dawn', 'period_morning',
       'period_night', 'distance_car', 'weight_car', 'duration'],
      dtype='object')

## Model

In [33]:
CV = cross_validate(estimator = LinearRegression(), 
                    cv = 5, 
                    #scoring = "r2", 
                    scoring = ["r2", "neg_median_absolute_error", 'neg_mean_absolute_percentage_error'], 
                    X = X_train,
                    y = y_train)

cv_df = pd.DataFrame(CV)
cv_df

,fit_time,score_time,test_r2,test_neg_median_absolute_error,test_neg_mean_absolute_percentage_error
0,0.006977,0.002169,0.410906,-16.986707,-0.286403
1,0.005985,0.001993,0.351852,-15.970565,-0.276710
2,0.005980,0.002993,0.385994,-16.430506,-0.284463
3,0.012958,0.002067,0.440205,-16.390078,-0.285704
4,0.005945,0.002078,0.481521,-16.261078,-0.284970

In [32]:
CV = cross_validate(estimator = ElasticNet(alpha=0.025, l1_ratio=0.5), 
                    cv = 5, 
                    #scoring = "r2", 
                    scoring = ["r2", "neg_median_absolute_error", 'neg_mean_absolute_percentage_error'], 
                    X = X_train,
                    y = y_train)

cv_df = pd.DataFrame(CV)
cv_df

,fit_time,score_time,test_r2,test_neg_median_absolute_error,test_neg_mean_absolute_percentage_error,test_max_error
0,0.037862,0.002990,0.408700,-17.034854,-0.287771,-153.275628
1,0.032889,0.002117,0.350969,-15.886120,-0.279295,-224.740817
2,0.015626,0.000000,0.383866,-16.163296,-0.286222,-164.085266
3,0.031243,0.015623,0.436943,-16.617479,-0.287609,-154.051745
4,0.016193,0.000000,0.481287,-16.121192,-0.286533,-111.904684

In [23]:
model = ElasticNet(alpha=1.0, l1_ratio=0.5).fit(X = X_train, y = y_train)

In [24]:
ofs = ofs.drop(['total_minutes'], axis = 1)
predict = model.predict(ofs)

In [25]:
y.describe()

count    7983.000000
mean       81.152277
std        34.705843
min        11.969489
25%        55.301119
50%        74.752992
75%       100.302939
max       304.190303
Name: total_minutes, dtype: float64